<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:gjoSe="http://typo3.org/ns/GjoSe/GjoBase/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="CeDefaultLayout"/>

    <f:section name="CeMainSection">

        <f:debug>{_all}</f:debug>

        <div class="product-set-group">

            <div class="card px-16 pt-16">
                <div class="view">
                    <picture>
                        {f:variable(name: 'file', value: '{productGroup.image}')}
                        <f:for each="{breakpoints}" as="breakpoint" iteration="iteration">
                            <source srcset="{f:uri.image(image: file, cropVariant: breakpoint.cropVariant)}"
                                    media="{breakpoint.media}"/>
                        </f:for>
                        <img class="img-fluid " src="{f:uri.image(image: file)}" alt="{file.alternative}"
                             title="{file.alternative}"/>
                    </picture>
                </div>

                <div class="card-body pb-0">
                    <h3>
                        {productGroup.header}
                    </h3>
                    <h4>
                        {productGroup.subHeader}
                    </h4>
                    <f:format.raw>
                        {productGroup.description}
                    </f:format.raw>
                </div>
            </div>

            <div class="skin-white">

                <div>
                    <h2>
                        <f:translate key="LLL:EXT:gjo_products/Resources/Private/Language/locallang.xlf:productSetGroup.toTheRightProduct"/>
                        :
                    </h2>
                </div>

                <div class="row">
                    <f:for each="{productGroup.productSetTypes}" as="productSetType" iteration="iteration">
                        <div class="col-md">
                            <div class="card">
                                <div class="card-body pt-0 pb-24 px-16">
                                    <h4 class="card-title">
                                        {productSetType.name}
                                    </h4>
                                    <ul class="font-size-16">
                                        <f:for each="{productSetType.productSets}" as="productSet" iteration="iteration">
                                            <li>
                                                <f:link.typolink parameter="{productSet.page.uid}">{productSet.name} &#8599;</f:link.typolink>
                                            </li>
                                        </f:for>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </f:for>
                </div>
            </div>

            <div>
                <h2>{productGroup.teaserHeader}</h2>
            </div>

            <div class="card product-set-group-image-teaser pb-32">
                <div class="view pb-24">
                    <picture>
                        {f:variable(name: 'file', value: '{productGroup.teaserImage}')}
                        <f:for each="{breakpoints}" as="breakpoint" iteration="iteration">
                            <source srcset="{f:uri.image(image: file, cropVariant: breakpoint.cropVariant)}"
                                    media="{breakpoint.media}"/>
                        </f:for>
                        <img class="img-fluid " src="{f:uri.image(image: file)}" alt="{file.alternative}"
                             title="{file.alternative}"/>
                    </picture>
                </div>

                <div class="card-body p-0 px-16">
                    <f:format.raw>{productGroup.teaserDescription}</f:format.raw>
                </div>
            </div>
        </div>


    </f:section>

</html>
