<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:gjoSe="http://typo3.org/ns/GjoSe/GjoBase/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="CeDefaultLayout"/>

<f:section name="CeMainSection">

    <f:if condition="{productGroup}">
        <div class="product-set-group-teaser">
            <div class="row">
                <div class="col-12 p-0 px-16 pt-16">
                    <div class="card">
                        <div class="view overlay">
                            <f:link.typolink parameter="{productGroup.page.uid}">
                                <picture>
                                    {f:variable(name: 'file', value: '{productGroup.image}')}
                                    <f:for each="{breakpoints}" as="breakpoint" iteration="iteration">
                                        <source srcset="{f:uri.image(image: file, cropVariant: breakpoint.cropVariant)}"
                                                media="{breakpoint.media}"/>
                                    </f:for>
                                    <img class="img-fluid " src="{f:uri.image(image: file)}" alt="{file.alternative}"
                                         title="{file.alternative}"/>
                                </picture>
                                <f:if condition="{productGroup.page.uid}">
                                    <div class="mask rgba-orange-light"></div>
                                </f:if>
                            </f:link.typolink>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>
                            {productGroup.header}
                        </h3>
                        <h4>
                            {productGroup.subHeader}
                        </h4>
                        <f:format.raw>
                            <f:format.crop maxCharacters="120">{productGroup.description}</f:format.crop>
                        </f:format.raw>

                        <div class="clearfix">
                            <f:link.typolink parameter="{productGroup.page.uid}">
                                <button type="button"
                                        class="btn btn-products-default float-right waves-effect waves-light">
                                    <f:translate
                                            key="LLL:EXT:gjo_products/Resources/Private/Language/locallang.xlf:products.seeProduct"/>
                                </button>
                            </f:link.typolink>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </f:if>

</f:section>

</html>